
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin: 0 50px 0 50px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  form{
    margin: 20px 50px 0 50px;

  }
  tr:hover {
    background-color: #f9f9f9;
  }
  
  form input[type="number"]:read-only {
    background-color: #f0f0f0;
    cursor: not-allowed;
    color: #999999;
  }
  .deleteButton,
  .editButton {
    padding: 8px 16px;
    border: none;
    background-color: #f44336;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 8px; /* Füge einen Abstand zwischen den Buttons hinzu */
  }
  
  .editButton {
    background-color: #2196f3; /* Setze die Hintergrundfarbe des Bearbeiten-Buttons auf Blau */
  }
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }
  
  form label {
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  form input[type="number"],
  form input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: border-color 0.3s ease;
  }
  
  form input[type="number"]:focus,
  form input[type="text"]:focus {
    border-color: #2196f3; /* Fokusfarbe */
  }
  
  form input[type="submit"] {
    padding: 8px 16px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 16px;
  }
  
  form input[type="submit"]:hover {
    background-color: #388e3c; /* Dunklere Hintergrundfarbe bei Hover */
  }
  